<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="project.css">
    <link rel="stylesheet" href="../../nav.css">
    <link rel="stylesheet" href="../../sidebar.css">
</head>

<body>
    <nav>
        <h1>BugNet</h1>
        <h1>Projects</h1>
        <div>
            <p id="log-out-button" class="cursor-pointer">Log Out</p>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">×</a>
        <h1>Hello</h1>
        <h1 id="username-holder"></h1>
        <a href="#">Projects</a>
        <a href="../user_tasks/index.html">My tasks</a>
    </div>

    <div id="main">
        <button class="openbtn">☰ Open Sidebar</button>
        <button id="add-project" class="cursor-pointer">Add Project</button>
        <button id="create-project" class="cursor-pointer">Create Project</button>
        
        <div id="new-form-background"></div>
        <div id="new-project-form-holder">
            <p id="close-new-project-form" class="cursor-pointer">X</p>
            <p id="new-project-alert"></p>
            <form id="new-project-form">
                <p>Project Name</p>
                <input>
                <p>description</p>
                <input>
                <br>
                <input type="submit">
            </form>
        </div>

        <div id="add-project-form-holder">
            <p id="close-add-project-form" class="cursor-pointer">X</p>
            <p id="add-project-alert">s</p>
            <form id="add-project-form">
                <p>Project Name</p>
                <input>
                <br>
                <input type="submit">
            </form>
        </div>

        <div id="projects-holder"></div>
    </div>

    <script src="project.js"></script>
    <script src="../../nav.js"></script>
    <script src="../../sidebar.js"></script>
</body>
</html>