#projects-holder{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
}
.projectBoxs{
    width: 350px;
    border-radius: 30px;
    border: 8px solid rgba(6, 174, 9, 0.6);
    margin: 30px 30px;
    padding: 0 30px 5px;
    background-color: rgba(8, 133, 48, 0.795);
    backdrop-filter: blur(10px);
}
.projectBoxs p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}
.projectBoxs p:nth-child(2) {
    color: rgb(255, 255, 255);
}
#new-form-background {
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    /* display:none; */
}
#new-project-form-holder {
    display: none;
    position: absolute;
    width: 420px;
    padding: 20px 20px;
    left: calc(50% - 210px);
    background-color: red;
    z-index: 2;
}
#close-new-project-form{
    position: absolute;
    right: 10px;
    top:10px;
    color: white
}

#add-project-form-holder {
    /* display: none; */
    position: absolute;
    width: 420px;
    padding: 20px 20px;
    left: calc(50% - 210px);
    background-color: red;
    z-index: 2;
}
#close-add-project-form {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white
}