*{
    margin: 0px;
}

#forms{
    background-color: lightblue;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}
#login-or-sign-up{
    display: flex;
}
#get-login{
    border-right: 2px solid black;
    padding: 10px 0;
    width:50%;
    text-align: center;
}
#get-sign-up{
    border-bottom: 2px solid black;
    padding: 10px 0;
    width: 50%;
    text-align: center;
}
#login-signup-alert{
    margin-left: 30px;
}
#login-form{
    text-align: center;
    padding: 20px;
}
#sign-up-form{
    text-align: center;
    padding: 20px;
    
}
input{
    margin: 10px 0;
}