* {
    margin: 0px;
}

#list-of-tasks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task-list {
    backdrop-filter: blur(5px);
    background-color: rgba(67, 67, 67, 0.416);
    border-radius: 20px;
    width: 400px;
    padding: 20px 5px;
    margin: 10px;
}

.task-completion-level {
    text-align: center;
}

.tasks {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.urgency-level {
    padding: 5% 5px;
    background-color: red;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
}

#new-form-background {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    display: none;
}

#new-task-form-holder {
    display: none;
    position: absolute;
    width: 420px;
    padding: 20px 20px;
    left: calc(50% - 210px);
    background-color: red;
    z-index: 2;
}

#new-task-description {
    border: 0px;
    resize: none;
    width: 400px;
    min-width: 250px;
    max-width: 410px;
    max-height: 175px;
}

#new-task-code {
    resize: none;
    border: 0px;
    width: 400px;
    height: 60px;
    min-width: 250px;
    max-width: 410px;
    max-height: 175px;
}

#close-add-task-form {
    position: absolute;
    right: 10px;
}

#bug-task div {
    border-radius: 10px;
    background-color: rgba(207, 106, 106, 0.801);
    padding: 10px;
    margin: 10px;
}

#task-in-review div {
    border-radius: 10px;
    background-color: rgba(207, 197, 106, 0.801);
    padding: 10px;
    margin: 10px;
}

#task-completed div {
    border-radius: 10px;
    background-color: rgba(106, 207, 125, 0.801);
    padding: 10px;
    margin: 10px;
}

#bug-task div h1 {
    font-size: 20px;
}