<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs</title>
    <link rel="stylesheet" href="../../nav.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="bugs.css">
</head>

<body>
    <nav>
        <h1>BugNext</h1>
        <div>
            <p id="log-out-button" class="cursor-pointer">Log Out</p>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">×</a>
        <a href="../project_page/project.html">Projects</a>
        <a href="../tasks/tasks.html">My tasks</a>
        <a href="#">link 3</a>
        <a href="#">link 4</a>
    </div>

    <div id="main">
        <button class="openbtn">☰ Open Sidebar</button>
        <button class="querrybtn">querry test</button>
        <div class="bugs"></div>
    </div>

</body>

<script src="bugs.js"></script>
<script src="../../sidebar.js"></script>
</html>