<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs</title>
    <link rel="stylesheet" href="../../nav.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="bugs.css">
</head>

<body>
    <nav>
        <h1>BugNet</h1>
        <h1 id="current-project"></h1>
        <div>
            <p id="log-out-button" class="cursor-pointer">Log Out</p>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">×</a>
        <a href="../project_page/project.html">Projects</a>
        <a href="../user_tasks/index.html">My tasks</a>
    </div>

    <div id="new-form-background"></div>

    <div id="individual-tasks">
        <p id="close-individual-task-form" class="cursor-pointer">x</p>
        <form id="individual-task">
            <p id="form-text">ISSUE TITLE</p>
            <p id="form-description">description</p>
            <p>Code:</p>
            <br>
            <code style='background:white'> i like dogs </code>
            <br>
            <p>Comment:</p>
            <br>
            <textarea maxlength="600" form="individual-task-form" id="individual-task-description"></textarea>
            <br>
            <p>Code feedback:</p>
            <textarea maxlength="600" form="individual-task-form" id="individual-task-code"></textarea>
            <br>
            <label for="bug-status-update">Set status:</label>
            <select id="bug-status-update" name="bug-status-update">
                <option value="todo">todo</option>
                <option value="review">review</option>
                <option value="completed">completed</option>
            </select>
            <br>
            <input type="submit">
        </form>
    </div>

    <div id="main">

        <button class="openbtn">☰ Open Sidebar</button>
        <button id="get-add-task-form">Add Bug +</button>

        <div id="new-task-form-holder">
            <p id="close-add-task-form">x</p>
            <form id="new-task-form">
                <p>Title</p>
                <input type="text" id="new-task-title" name="user-name" value="">
                <p>description </p>
                <textarea maxlength="600" form="new-task-form" id="new-task-description"></textarea>
                <br>
                <p>Code:</p>
                <textarea form="new-task-form" id="new-task-code"></textarea>
                <br>
                <input type="submit" id="new-task-button">
            </form>
        </div>

        <div id="list-of-tasks">
            <div id="bug-task" class="task-list">
                <h1 class="task-completion-level">Tasks</h1>
                <div id="todo"></div>
            </div>
            <div id="task-in-review" class="task-list">
                <h1 class="task-completion-level">Tasks in Review</h1>
                <div id="review"></div>
            </div>

            <div id="task-completed" class="task-list">
                <h1 class="task-completion-level">Tasks Completed</h1>
                <div id="completed"></div>
            </div>

        </div>

    </div>

</body>

<script src="bugs.js"></script>
<script src="../../sidebar.js"></script>

</html>