<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="../../nav.css">
</head>
<body>
    <div id="new-form-background"></div>
    <nav>
        <h1>BugNext</h1>
        <div>
            <p id="log-out-button" class="cursor-pointer">Log Out</p>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">×</a>
        <a href="../project_page/project.html">Projects</a>
        <a href="#">My tasks</a>
        <a href="#">link 3</a>
        <a href="#">link 4</a>
    </div>
    
    <div id="main">
        <button class="openbtn">☰ Open Sidebar</button>
        <button id="get-add-task-form">Add Task +</button>

        <div id="new-task-form-holder">
            <p id="close-add-task-form">x</p>
            <form id="new-task-form">
                <p>Title</p>
                <input type="text" id="new-task-title" name="user-name" value="">
                <p>description </p>
                <textarea maxlength="600" form="new-task-form" id="new-task-description"></textarea>
                <br>
                <p>Code:</p>
                <textarea form="new-task-form" id="new-task-code"></textarea>
                <br>
                <input type="submit">
            </form>
        </div>

        <div id="list-of-tasks">
            <div id="bug-task" class="task-list">
                <h1 class="task-completion-level">Taks</h1>
                <div id="task-1" class="tasks">
                    <p class="urgency-level">1</p>
                    <p class="description">run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutesrun 30 minutes</p>
                </div>
            </div>
            <div id="task-reviewing" class="task-list">
                <h1 class="task-completion-level">tasks in review</h1>
                <div id="task-5" class="tasks">
                    <p class="urgency-level">1</p>
                    <p class="description">run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutesrun 30 minutes</p>
                </div>
            </div>

            <div id="task-completion" class="task-list">
                <h1 class="task-completion-level">tasks completed</h1>
                <div id="task-10" class="tasks">
                    <p class="urgency-level">1</p>
                    <p class="description">run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30
                        minutesrun 30 minutes</p>
                </div>
            </div>

        </div>
    </div>
    <script src="./script.js"></script>
    <script src="../../nav.js"></script>
    <script src="../../sidebar.js"></script>
</body>
</html>