<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tasks.css">
</head>
<body>
    <nav>
        <h1>BugNext</h1>
        <div>
    
        </div>
    </nav>
    <div id="">
        <div>

        </div>
        <div id="list-of-tasks">
            <div id="bug-task">
                <div id="task-1" class="tasks">
                    <p class="urgency-level">1</p>
                    <p class="">run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutesrun 30 minutes</p>
                </div>
                <div id="task-2" class="tasks">
                    <p class="urgency-level">1</p>
                    <p class="">run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutes run 30 minutesrun 30 minutes
                    </p>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>