* {
    margin: 0px;
}

nav {
    background-color: blue;
    height: 100px;
}

.urgency-level{
    padding: 5% 5px;
    background-color: red;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
}

#bug-task{
    background-color: gray;
    border-radius: 20px;
    max-width: 300px;
    padding: 20px 5px;
}

.tasks{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
}